* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #404647;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.75; }

a {
  text-decoration: none;
  color: #404647; }
  a:hover {
    background-color: rgba(255, 255, 0, 0.7); }
  a:visited {
    color: #404647; }

li {
  list-style: none; }

/* NAV */
nav {
  background-color: white;
  display: flex-wrap;
  justify-content: flex-end;
  padding: 50px 150px 0px 150px;
  text-align: right; }

nav li {
  margin-right: 10px;
  display: inline; }

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 120px 150px 150px 150px; }

.page-title {
  font-family: "Playfair Display";
  font-size: 64px; }

.page-description {
  font-size: 22px; }

/* CONTENT */
main {
  background-color: #cedee0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 150px 150px 150px; }

section {
  padding-top: 30px;
  display: none; }

.heading-row {
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-family: "Playfair Display";
  font-size: 36px; }

.heading {
  color: rgba(255, 255, 255, 0.5); }

.selected {
  color: #404647; }

.heading-row a {
  cursor: pointer;
  cursor: hand; }

.heading-row a:hover {
  background-color: inherit; }

.project-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.project {
  width: 33%;
  padding-right: 40px;
  margin-bottom: 35px; }

.proj-des {
  font-weight: 200; }

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  font-weight: 200;
  padding-right: 200px; }
  .content-row a {
    color: #404647;
    border-bottom: 1px solid #404647; }

.left-col {
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: right; }

.right-col {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex: 1.5; }

/* TABS */
main.projects section.projects {
  display: block; }

main.experience section.experience {
  display: block; }

main.currently section.currently {
  display: block; }

/*----------------MEDIA-QUERIES-----------------*/
@media only screen and (max-width: 980px) {
  nav {
    padding-right: 100px; }

  header {
    padding-left: 100px;
    padding-right: 100px; }

  .page-title {
    font-size: 50px; }

  .page-description {
    font-size: 18px; }

  main {
    padding-left: 100px;
    padding-right: 100px; }

  .heading-row {
    width: 500px;
    font-size: 32px; }

  .project {
    width: 50%; }

  .content-row {
    padding-right: 100px; } }
@media only screen and (max-width: 736px) {
  nav {
    padding-right: 50px; }

  header {
    padding-left: 50px;
    padding-right: 50px; }

  .page-title {
    font-size: 48px; }

  main {
    padding-left: 50px;
    padding-right: 50px; }

  .heading-row {
    width: 400px;
    font-size: 24px; }

  .content-row {
    font-size: 16px; }

  .project-row {
    width: 100%;
    flex-direction: column; }

  .project {
    width: 100%;
    margin-bottom: 20px; }

  .proj-title {
    font-size: 18px; }

  .proj-des {
    font-size: 16px; } }
@media only screen and (max-width: 480px) {
  nav {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
    font-size: 16px;
    text-align: left; }

  nav li {
    display: inline; }

  header {
    padding: 30px 50px 100px 50px; }

  .page-title {
    font-size: 32px; }

  .page-description {
    font-size: 16px; }

  .heading-row {
    width: 100%;
    font-size: 18px; }

  .content-row {
    font-size: 14px;
    padding-right: 0; }

  .project-row {
    flex-direction: column; }

  .project {
    margin-bottom: 20px; }

  .proj-title {
    font-size: 16px; }

  .proj-des {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
