---
layout: default
title: Home
---
    <!--main top-right nav-->
    {% include nav.html %}

    <!--header with title and description-->
    <header>
            <div class="page-title">
                Caitlin is a(n)
            </div>
            <div class="page-description">
                <ul>
                    <li>student at Northeastern University.</li>
                    <li>lover of dogs, typography, and sudoku.</li>
                    <li>aspiring designer and developer.</li>
                </ul>
            </div>
    </header>

    <!--main page content-->
    {% include main.html %}